body {
  font-family: "Roboto" sans-serif;
  color: #2e2f42;
}
:root {
  --brand-color: color: #2E2F42;
  --adress-color: color: #434455;
  --paragr-color: color: #434455;
  --focuse-color: color: #404BBF;
  --hover-color: color: #FFFFFF;
  --text-color: color: #FFFFFF;
}

<!--logo-->
.logotip {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
color: #4D5AE5;
}
.logohalf {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
color: #2E2F42;
}
<!--hero-->
.navigation {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
}
.navigation .ahead {
color: var(--brand-color);
}
.navigation .ahead:focus {
    color: var(--focuse-color)
}
.navigation .ahead:hover {
    color: var(--hover-color)
}
.link-contact {
    color: var(--adress-color)
}
.link-contact .contact:focus {
    color: var(--focuse-color);
}
.link-contact .contact:hover {
    color: var(--hover-color)
}
.capital {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 60px;
color: var(--hover-color)
}
.push {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: var(--text-color);
}